html {
    font-family: "Montserrat", sans-serif;
    font-size: 8px;
    color: white;
    scroll-behavior: smooth;
}

:root {
    --primary: #e5d91c;
    --lighter: #333438;
    --light: #2d2e32;
    --dark: #25262a;
    --metaText: lightgrey;
}

body {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* hides scroll bar for IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* hides scroll bar for Chrome, Safari and Opera */
}

section {
    width: 100vw;
    font-size: 1.5rem;
    font-weight: 300;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}
strong {
    font-weight: 600;
}
.light {
    background-color: var(--light);
}

.dark {
    background-color: var(--dark);
}

.sct-fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    display: block;
    max-width: fit-content;
    background-color: transparent;
    color:var(--primary);
    font-size: 2rem;
    padding: 1.5rem;
    border: 1px solid var(--primary);
}

.btn:active {
    background-color: var(--primary);
    color: var(--light);
    font-weight: 500;
}

.btn::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    margin: auto;
    background-color: var(--primary);
    transition: width .3s;
}

.btn:hover::after {
    width: 100%;
}

.btn:active::after {
    background-color: var(--light);
}




/* ||header */

.header {
    padding: 3rem 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.header__logo {
    font-size: 2rem;
}

.header__logo::after {
    content: "";
    background-color: var(--primary);
    width: 2.5rem;
    height: .5rem;
    display: block;
    position: relative;
    left: 16rem;
    top: -.5rem;
    transition: transform 1s;
}

.header__logo:hover::after {
    transform: rotate(720deg);
}

.header__theme  {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--lighter);
    position: relative;
}

.header__theme  i {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.header__theme:hover {
    color: var(--primary);
}


/* ||section hero */

.hero {
    margin: 10rem auto 15rem auto;
    display: grid;
    max-width: 65rem;
    padding: 0 5rem;
}


.flipcard {
    height: 3.6rem;
    width: 19rem;
    background-color: transparent;
    perspective: 50rem;
    margin-top: 15rem;
}

.flipcard__inner {
    position: relative;
    height: 100%;
    width: 100%;

    transition: transform .3s;
    transform-style: preserve-3d;
}

.flipcard:hover .flipcard__inner {
    transform: rotateY(180deg);
}

.flipcard__front,
.flipcard__back {
    color: var(--light);
    background-color: var(--primary);
    border-radius: .3rem;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-align: center;
}

.flipcard p {
    line-height: 3.6rem;
    font-size: 1.6rem;
    font-weight: 700;
}


.flipcard__back {
    transform: rotateY(180deg)
}

.hero .title {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 3rem;
}

span.special {
    color: var(--primary);
}

.hero .desc {
    color: var(--metaText);
    margin-top: 3rem;
    width: 75%;
}

.hero a.btn {
    margin-top: 12rem;
}

.hero p.note {
    margin-top: 3rem;
    color: var(--metaText);
}

.hero__image {
    position: relative; /* to position yellow square */
}

.hero__image img {
    display: block;
    width: 37rem;
    margin: 17rem auto 0 auto;
    position: relative;
    z-index: 1;
    transition: transform .15s;
}

.hero img:hover {
    transform: translate(-3%, 3%);
}

.hero__image .square {
    border: .8rem solid var(--primary);
    height: 44.8rem;
    width: 37rem;
    margin: -42.5rem auto 0 auto;
    position: relative;
    left: -2rem;
    transition: transform .15s;
} 

.hero__image img:hover ~ .square {
    transform: translate(7%, -6%);
}


/* || info section */

.info {
    display: grid;
    max-width: 65rem;
    margin: 14rem auto 7rem auto;
    padding: 0 5rem;
}

.info__skill {
    width: 100%;
}

.skill__list {
    margin-bottom: 5rem;
    position: relative; /* to position .measure */
    display: flex;
    flex-flow: row wrap;
    transition: transform .3s;
}

.skill__list:hover {
    transform: scale(115%, 115%);
}

.skill__desc {
    height: fit-content;
    width: 100%;
    align-self: flex-end;
    padding-top: 3.5rem;
    color: var(--metaText);
}

.skill__name {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary);
    align-self: baseline;
}

.skill__point {
    margin-left: auto;
    margin-right: 1rem;
    font-weight: 500;
    align-self: baseline;
}

.skill__list .measure {
    height: .8rem;
    border: 1px solid var(--primary);
    position: absolute;
    top: 3.7rem;
}

.total {
    width: 100%;
}

.point {
    background-color: var(--primary);
}

.skill1 {
    width: calc(100% / 5 * 4);
}

.skill2 {
    width: calc(100% / 5 * 4);
}

.skill3 {
    width: calc(100% / 5 * 3);
}

/* info about */

.about__title {
    font-size: 3rem;
    font-weight: 700;
}

.about__title::after {
    content: "";
    display: block;
    background-color: var(--primary);
    width: 3rem;
    height: .7rem;
    position: relative;
    left: 15.5rem;
    top: -.7rem;
    transition: transform 1s;
}

.about__title:hover::after {
    transform: rotate(720deg);
}

.about__desc {
    margin-top: 3rem;
    color: var(--metaText);
}

.about__contact {
    width: 100%;
    margin-top: 4rem;
}

.about__contact thead, tbody {
    float: left;
    width: 50%;
}

.about__contact th, td {
    display: block;
    margin-bottom: 2rem; 
}

.about__contact th {
    text-align: left;
    color: var(--primary);
    font-weight: 500;
    width: 20rem;
    white-space: nowrap;
}



.about__contact td::before {
    content: ":";
    padding-right: .5rem;
}

/* ||section exp */

.exp {
    display: grid;
    max-width: 70rem;
    margin: 0 auto 7rem auto;
    padding: 14rem 5rem 0 5rem;
}

.exp__title {
    font-size: 3rem;
    font-weight: 700;
    max-width: fit-content;
}



.underline::after {
    content: "";
    background-color: var(--primary);
    display: inline-block;
    width: 3rem;
    height: .7rem;
    position: relative;
    top: 1rem;
    margin-right: -3rem; /* to prevent from breaking without text breaking */
    transition: transform 1s;
}

.exp__title:hover .underline::after {
    transform: rotate(720deg);
}

.exp__grid {
    display: grid;
    position: relative; /* to position the yellow line */
    grid-template-columns: 40% 1fr;
    margin-top: 5rem;
    gap: 3rem;
}

.the-yellow-line {
    position: absolute;
    background-color: var(--primary);
    height: 90%;
    width: .7rem;
    left: 38%;
}

.exp__year {
    background-color: var(--primary);
    width: 12rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: var(--dark);
    font-weight: 700;
    border-radius: 3px;
    justify-self: center;
}

.exp__place {
    padding-bottom: 5rem;
}

.exp__place::before {
    content: "";
    background-color: var(--primary);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    left: 37.3%;
    transition: transform .15s;
    margin-top: .7rem;
}

.exp__place:hover::before {
    transform: scale(170%, 170%);
}


.place__title {
    font-size: 2.5rem;
    font-weight: 700;
}

.place__desc {
    font-size: 1.7rem;
    color: var(--metaText);
}

.task {
    margin: 1.5rem 0 0 1rem;
    color: var(--metaText);
}

.task__list {
    position: relative; /* to position yellow bullets */
}
.task__list::before {
    content: "";
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background-color: var(--primary);
    position: absolute;
    top: .8rem;
    left: -1rem;
}

.task__list a {
    text-decoration: underline;
    color: var(--primary);
}

/* ||section contact */

.contact {
    max-width: 70rem;
    margin: auto;
    padding: 15rem 5rem;
}

.contact__me {
    font-size: 3rem;
    font-weight: 700;
}

.grid-ctn {
    margin-top: 3rem;
}

.contact__item {
    color: var(--primary);
    height: 10rem;
}

.contact__item a {
    border: 1px solid var(--primary);
    border-radius: 3px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__item i {
    font-size: 3rem;
}

.contact form * {
    display: block;
    color: var(--metaText);
}

.contact__desc {
    color: var(--metaText);
}

.contact input,
.contact textarea {
    padding: .7rem;
    background-color: var(--light);
    border: 1px solid var(--metaText);
    border-radius: 3px;
    resize: none;
    width: 100%;
}

.contact button {
    margin-top: 3rem;
    max-width: fit-content;
    background-color: transparent;
    color: var(--primary);
    font: 2rem "Montserrat", sans-serif;
    padding: 1.5rem;
    border: 1px solid var(--primary);
}


/* phone and tablets */
@media screen and (max-width: 749px) {

    .header input {
        display: none;
    }
    
    .header label {
        margin-left: auto;
        padding: 0 1rem;
        font-size: 2rem;
        color: var(--primary);
    }

    .header .fa-x {
        display: none;
    }

    .header input:checked ~ label .fa-x{
        display: inline;
    }
    .header input:checked ~ label .fa-bars{
        display: none;
    }
    
    
    
    .header .main {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s;
        position: relative;
    }
    
    .header input:checked ~ .main {
        max-height: 43rem;
        position: relative;
        overflow: visible;
    }
    .header input:checked ~ .main::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--metaText);
        display: block;
        position: absolute;
        bottom: -2rem;
    }
    
    .header__menu {
        margin-top: 2.5rem;
    }
    
    .header__menu li {
        padding: 1rem;
    }
    
    .header__menu li::after {
        content: "";
        display: block;
        height: 1px;
        width: 50%;
        background-color: darkgrey;
        position: relative;
        top: 1rem;
        right: 0px;
    }

    .header__theme {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .header__social {
        margin-top: 3rem;
        padding: 1rem;
        display: flex;
    }

    .header__social li {
        margin-right: 3rem;
    }

    .header__social li i {
        padding-right: .5rem;
    }

    /* info about */

    .about__title {
        margin-top: 8rem;
    }
    
    .about__contact th i {
        padding: 0 1.5rem 0 30%;
    }

    /* section contact */

    .contact__list {
        display: flex;
        justify-content: space-between;
        gap: 6%;
    }

    .contact__item {
        flex: 1;
    }



    .contact__item i {
        margin: 2.5rem 0 .5rem 0;
    }

    .contact__desc {
        margin-top: 3rem;
    }



    .contact label {
        margin: 1.5rem 0 .3rem 0;
    }
}


/* medium desktop */

@media screen and (min-width: 750px){

    .header {
        max-width: 124rem;
        margin: 0 auto;
    }

    .header input,
    .header label {
        display: none;
    }

    .header .main {
        width: auto;
        max-height: 100%;
        display: flex;
        align-items: center;
    }

    .header__logo {
        margin-right: 7rem;
    }

    .header .main * {
        display: inline-block;
    }

    .header .main {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    .header__menu a {
        padding-right: 3rem;
    }

    .header__menu a:hover {
        color: var(--primary);
    }

    .header__menu a::after {
        content: "";
        display: block;
        height: 1px;
        width: 0;
        margin: auto;
        transition: width .3s;
        background-color: var(--primary);
    }

    .header__menu a:hover::after {
        width: 100%;
    }

    .header__social {
        margin-left: auto;
        padding-right: 5rem;
    }

    .header__social li:first-child a {
        padding-right: 3rem;
    }

    .header__social i {
        padding-right: .5rem;
    }




    /* section hero */

    .hero {
        max-width: 124rem;
        grid-template-columns: minmax(40rem, 1fr) 1fr;
        gap: 5rem;
    }

    /* section info */

    .info {
        max-width: 124rem;
        grid-template-columns: 42% 1fr;
        gap: 8rem;
    }

    .skill__list {
        margin-bottom: 6rem;
    }

    .skill__desc {
        width: 40rem;
        max-width: 100%;
        padding-top: 3rem;
    }

    .about__desc {
        font-size: 1.7rem;
        line-height: 1.5;
    }

    .about__contact th i {
        margin: 0 1.5rem 0 2rem;
    }

    /* section contact */

    .contact {
        max-width: 90rem;
    }

    .contact h2 {
        max-width: fit-content;
        margin: auto;
    }

    .grid-ctn {
        margin-top: 7rem;
        display: grid;
        grid-template-columns: 35% 1fr;
        grid-template-rows: minmax(5rem, auto); /* the first row gets higher than expected i dont know why so i have to put this */
        column-gap: 3rem;
        grid-template-areas: 
            "list desc"
            "list form";
    }

    .contact__list {
        grid-area: list;
        width: 20rem;
        justify-self: center;
    }

    .contact__desc {
        grid-area: desc;
        width: 85%;
    }

    .contact form {
        grid-area: form;
    }

    .contact__item {
        margin-bottom: 4.5rem;
        height: 12rem;
    }
    .contact__item i {
        margin: 3rem 0 1rem 0;
    }

    .contact form {
        margin-top: 2rem;
    }

    .contact label {
        font-size: 1.3rem;
        margin-bottom: .3rem;
    }

    .contact input,
    .contact textarea {
        background-color: var(--lighter);
        padding: 1rem 1rem;
        margin-bottom: 3rem;
        border: 1px solid var(--metaText);
        border-radius: 3px;
        font-family: "Montserrat", sans-serif;
        color: var(--metaText);
    }

    .contact textarea {
        height: 18rem;
    }

    .contact input::placeholder {
        font-family: "Montserrat", sans-serif;
    }

    .contact__form input:hover,
    .contact__form input:focus,
    .contact__form textarea:hover,
    .contact__form textarea:focus {
        outline: none;
        border: 1px solid var(--primary);
        -webkit-box-shadow: 0px 0px 9px 0px rgba(229,217,28,0.43); 
    box-shadow: 0px 0px 9px 0px rgba(229,217,28,0.43);
    }

    .contact__form button::after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        margin: auto;
        background-color: var(--primary);
        transition: width .3s;
    }
    
    .contact__form button:hover::after {
        width: 100%;
    }

    .contact__item a {
        transition: transform .3s;
    }

    .contact__item a:focus,
    .contact__item a:hover,
    .contact__item a:active {
        background-color: var(--primary);
        color: var(--light);
        transform: scale(115%, 115%);
    }
}

/* large desktop */
@media screen and (min-width: 1550px) {
    html {
        font-size: 10px;
    }
}


/* 
    chuồn chuồn bay thấp thì mưa
    chuồn chuồn bay thấp thì mưa 
    bay cao thì nắng 
    
    này này có gió ở đâu 
    này này có sấm thổi qua 
    hồ rộng đồng xanh
    a í à
*/

